table{
    width: 100%;
    margin-top: 2rem;
}
table,th,td{
    border-collapse: collapse;
}

tr:nth-child(2n){
    background-color: rgb(212, 212, 212);
}
thead>tr{
    background-color: rgb(212, 212, 212);
}

td, th{
    padding: 0.5rem 1rem;
}