#about {
	background-color: #f8f9fa;
	padding: 100px 0;
	/* text-align: center; */

	@media only screen and (max-width: 600px) {
		.cards {
			flex-direction: column;
			margin-left: 60px;
		}
	}

	@media only screen and (min-width: 600px) {
		.cards {
			flex-direction: row;
		}
	}
	.cards {
		text-align: left;
		margin-top: 50px;
		display: flex;
		gap: 30px;
		a {
			color: orangered;
			i {
				margin-left: 10px;
			}
		}
	}
}
