footer {
	padding: 200px 0 50px;
	background-color: rgb(238, 238, 238);
	position: relative;
	#newsletter {
		background-color: #343a40;
		background-image: url(../assets/cta-bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		color: white;
		display: flex;
		padding: 3rem;
		border-radius: 8px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		h3,
		p {
			margin: 0;
		}
		.email-input {
			display: flex;
			align-items: center;
			.subscribe-form {
				position: relative;
				input {
					padding: 20px 150px 20px 50px;
					outline: none;
					border: none;
					border-radius: 6px;
					background-color: rgba(255, 255, 255, 0.12);
					font-size: 18px;
					color: white;
				}
				i {
					position: absolute;
					left: 20px;
					top: 50%;
					transform: translateY(-50%);
				}
				button {
					position: absolute;
					right: 20px;
					top: 50%;
					transform: translateY(-50%);

					background-color: #1ce1ac;
					color: white;
					border: none;
					border-radius: 4px;
					padding: 0.75rem 1.5rem;
					cursor: pointer;
					transition: box-shadow 0.5s;
					/* padding: 80px; */
				}
				button:hover {
					box-shadow: 0 5px 10px #1ce1ac51;
				}
			}
		}
	}

	@media only screen and (max-width: 800px) {
		#newsletter {
			flex-direction: column;
			gap: 40px;
			padding: 6rem;
		}
		#newsletter > div {
			width: 100%;
		}
		.subscribe-form,
		.subscribe-form > input {
			width: 80%;
		}
	}
	@media only screen and (min-width: 800px) {
		#newsletter {
			flex-direction: row;
		}
		#newsletter > div {
			width: 50%;
		}
	}
}
