/* čia dėsiu visus dalykus susijusius su šriftais, 
jų dydžiais, italicais ,boldais ir t.t. */

@font-face {
	font-family: "Cerebri-Bold";
	src: url("../fonts/Cerebri.Sans.Pro/CerebriSansPro-Bold.otf")
		format("opentype");
}
@font-face {
	font-family: "Cerebri";
	src: url("../fonts/Cerebri.Sans.Pro/CerebriSansPro-Regular.otf")
		format("opentype");
}

.mandali-regular {
	font-family: "Mandali", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.cerebri-bold {
	font-family: "Cerebri-Bold", sans-serif;
	letter-spacing: 1px;
	line-height: 1.2;
}

.cerebri {
	font-family: "Cerebri", sans-serif;
}

/* ŠRIFTŲ DYDŽIAI */
.text-xs {
	font-size: 8px;
}
.text-sm {
	font-size: 12px;
}
.text-md {
	font-size: 16px;
}
.text-lg {
	font-size: 18px;
}
.text-xl {
	font-size: 30px;
}
.text-xxl {
	font-size: 40px;
}
.text-xxxl {
	font-size: 60px;
}
.text-dark {
	color: #343a40;
}
/* SPALVOS */
.text-muted-semi {
	/* Biski permatomas */
	color: #212529bf;
}
.text-muted {
	color: #212529;
}
.text-gray {
	color: #6c757d;
}
.text-theme {
	color: #1ce1ac;
}
.text-secondary {
	color: #536796;
}

a {
	text-decoration: none;
}
