nav {
	background-color: rgba(255, 255, 255, 0.9);
	position: sticky;
	top: 0;
	z-index: 1;
}

nav.with-shadow {
	box-shadow: 0 0 10px #c2c2c2;
}
nav > .container {
	display: flex;
	justify-content: space-between;
	padding: 15px 0;
	.links {
		display: flex;
		gap: 25px;
		.nav-link.active {
			position: relative;
		}
		.nav-link.active::after {
			content: "";

			position: absolute;
			left: 50%;
			top: 100%;
			width: 60%;
			height: 2px;
			background-color: #1ce1ac;

			transform: translate(-50%, -2px);
		}
		.nav-link:hover {
			color: #1ce1ac;
		}
		.nav-link.active {
			color: #1ce1ac;
			/* border-bottom: 2px solid #1ce1ac; */
		}
	}
}

@media only screen and (max-width: 600px) {
	nav > .container > .links {
		margin-top: 40px;
		flex-direction: column;
		gap: 0;
	}
	nav > .container > .links > a {
		padding: 10px 20px 10px 20px;
		width: min-content;
	}
	nav > .container {
		flex-direction: column;
	}
	nav {
		padding: 0 40px;
	}
}
